<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Perimeter Retrievel</title>
</head>
<body>
    <h1 style="text-align: center;"><u>Welcome to Text Analyzer</u></h1>
    <form action="/top5" method="get">

        <textarea name = 'text' style="width: 1892px; height: 180px;"></textarea>
        <button type="submit">Analyze Text</button>  

        <p>Note : Analyze text button will go to top5 url as form actin is set to top5 !</p>

    </form>
    
</body>
</html>