{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <h1 class="logo">Register Page</h1>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <main>
        <!-- Login Form -->
        <section class="login-form">
            <div class="container">
                <h2 style="text-align: center;">Register</h2>
                <form method="POST" action="register">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="Repeat Password">Repeat Password</label>
                        <input type="Repeatpassword" id="Repeatpassword" name="repeatpassword" required>
                    </div>
                    <button type="submit" name="Login">Register</button>
                    <div>
                        <p style="color: red;">{% for message in messages  %} {{ message }} {% endfor %}</p>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Login Page. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>