{% extends "base.html" %}

{% block content %}
<div class="container">
  {% if user.is_authenticated %}
  <h1 class="text-white mt-4 text-center">Welcome {{ user.username }} to BookStore</h1>
  {% else %}
  <h1 class="text-white mt-4 text-center">Welcome to BookStore</h1>
  {% endif %}
  <p class="lead text-muted font-italic mb-8 text-center text-white">
    This is the world's best bookstore. Every book is available here
  </p>

  <div class="row justify-content-center"> <!-- Center the cards -->
    {% for book in books %}
    <div class="col-md-4 col-sm-6 mb-4"> <!-- Added mb-4 for spacing between rows -->
      <div class="card shadow-sm d-flex flex-column" style="height: 100%;"> <!-- Flex to make all cards the same height -->
          <img class="card-img-top" src="{{ book.image.url }}" alt="Book cover" style="height: 250px; object-fit: cover;">
          <div class="card-body d-flex flex-column"> <!-- Flex to allow description to fill space -->
            <h5 class="card-title text-black text-center">{{ book.title }}</h5>
            <p class="card-text text-center text-black">{{ book.author }}</p>
            <p class="card-text text-black text-muted">{{ book.description|truncatewords:20 }}</p>
            <p class="card-text"><strong>Price: ${{ book.price }}</strong></p>

            <!-- Buttons Container -->
            <div class="d-flex justify-content-between mt-auto">
              {% if book.id in favorites %}
                  <a href="{% url 'del_fav' book.id %}" class="btn btn-danger">Remove from Favorites</a>
              {% else %}
                  <a href="{% url 'add_fav' book.id %}" class="btn btn-primary">Add to Favorites</a>
              {% endif %}

              <a href="" class="btn btn-primary" style="width: 120px;">More Details</a> <!-- More Details button -->
            </div>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
